.metadata
.mvn/
.settings/
target/
.classPath
.project
HELP.md
mvnw
mvnw.cmd
src/test/
bin/
.vscode/launch.json
*.class
*.log
.DS_Store
*.iml
*.xml
.idea/.name
.idea
src/main/java/META-INF/
src/main/resources/static/.vs/slnx.sqlite
src/main/resources/static/.vs/static/v16/.suo
src/main/resources/static/.vs/VSWorkspaceState.json
!pom.xml
